@font-face{
    font-family: 'Aleo';
    src: local(Aleo), url(./Fonts/Aleo-Bold.otf) format('opentype')
}

@font-face{
    font-family: 'TNR';
    src: local(TNR), url(./Fonts/timesNewRoman.ttf) format('truetype')
}

.background{
    min-height: 100vh;
    width: 100%;
    background-image: url('./Images/bw.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.frontPageImage{
    padding-top:15vh;
    height: 90vh;
    width: auto;
}

.logoHeader{
    height: auto;
    max-width: 13vh;
}

.iconHeader{
    height: auto;
    max-width: 5vh;
    margin:3vh 2vh
}

.product{
    font-weight: bold;
    font-size: 12vh;
    margin-bottom: 10vh;
    padding-top:17vh;
    font-family: 'Aleo';
    color:#7a4a16;
}

.isiProduct{
    padding: 0 5vw 10vh;
    color:#7a4a16;
    font-family: 'Aleo';
}

.imgSize{
    height: auto;
    width: 35vh;
}

.namaProduct{
    font-weight: bolder;
    font-size: 9vh;
    border-bottom: 0.5vh double #593C1F;
}

.descProduct{
    font-size: 4vh;
    border-top: 0.5vh double #593C1F;
}

.hargaProduct{
    font-size: 3vh;
    border-bottom: 0.2vh solid black;
    padding: 1vh  0;
    color:black;
}

.contact{
    min-height:90vh;
    background-color: #593C1F;
}

.contact div{
    font-size: 8vh;
    color:whitesmoke;
    margin: 12vh 0
}

.marketPlace{
    min-height: 110vh;
    width: 100%;
    background-image: url('./Images/bb.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.marketPlaceHead{
    font-weight: bold;
    font-size: 12vh;
    margin-bottom: 20vh;
    padding-top:15vh;
    font-family: 'Aleo';
    color:white;
}

.marketPlacePaper{
    height: 50vh;
    margin-top: 8vh;
}

.footer{
    min-height: 30vh;
    font-size: 3vh;
}

.logoFooter{
    height: auto;
    max-width: 20vh
}

.footerText{
    padding:0 10vw 0 0;
    color:#7a4a16;
    font-family: 'Aleo';
}

.footerText div{
    font-size:2.5vh
}

.iconFooter{
    height: auto;
    max-width: 4vh;
    margin:2vh 1vw 1vh 0
}

@media only screen and (max-width:1080px){
    .background{
        min-height: 15vh;
    }

    .frontPageImage{
        margin-top: 5vh;
        height: 40vh;
    }

    .product{
        font-size: 8vh;
        padding-top: 10vh
    }

    .imgSize{
        width: 20vh;
    }
    
    .namaProduct{
        font-size: 5vh;
    }

    .descProduct{
        font-size: 2vh;
    }
    
    .hargaProduct{
        font-size: 2vh;
    }

    .marketPlace{
        height:20vh
    }

    .marketPlaceHead{
        font-size: 6vh;
        padding-top:9vh
    }

    .footerText div{
        font-size:2vh
    }
}